.vue-flow__node {
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 4px rgb(120, 120, 120);
}

.vue-flow__node-start {
    width: 200px;
}

.vue-flow__node-llm {
    width: 300px;
}

.vue-flow__node-crawler {
    width: 300px;
}

.vue-flow__node-end {
    width: 300px;
}

.vue-flow__node-knowledgeRetrieval {
    width: 300px;
}

.vue-flow__node-condition {
    width: 250px;
}

.vue-flow__node-webSearch {
    width: 300px;
}
.vue-flow__node-keywordExtraction {
    width: 300px;
}

.vue-flow__handle {
    background: #8d8dff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: white;
}

.vue-flow__node-start {
    color: blue;
}

.vue-flow__node-end {
    color: rgb(255, 0, 0);
}