/* Use a purple theme for our custom node */
.vue-flow__node {
    background: white;
    border-radius: 4px;
    box-shadow: -2px -2px 2px rgb(160, 160, 160);
    padding: 8px;
    border: 1px solid black;
}

.vue-flow__handle {
    background-color: red;
}

.vue-flow__node-start {
    color: blue;
}

.vue-flow__node-end {
    color: rgb(255, 0, 0);
}